/******************************************************type************************************************/
*{
    font-family: 'Roboto', sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.name{
    text-align: center;
}

.name h1{
   margin-bottom: 40px; 
}


/************************************************Navigation************************************************************/


.main-nav ul{
    text-align: center;
    padding-left: 0;
}

.main-nav ul li{
    list-style: none;
    margin-bottom: 30px;
}

.main-nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}


/**************************************************Media Queries********************************************************/

/*Tablet*/

@media (min-width: 768px){
    .main-nav ul li{
        margin-bottom: 0;
        display: inline-block;
        margin-right: 30px;
    }
    .main-nav ul li a{
        padding: 10px;
    }
}/*end of tablets*/

/*Desktop*/

@media (min-width: 1024px){
    .name{
        text-align: left;
        float: left;
        width: 33.333333333%;
    }
   .main-nav{
        float: right;
    }
    .main nav ul{
        margin-top: 40px;
        padding-left: 40px;
    }
}/*end of Desktop*/