/******************************************************type************************************************/
*{
    font-family: 'Roboto', sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 100%;
}

.name{
    text-align: center;
}

.name h1{
   margin-bottom: 40px; 
}


/************************************************Navigation************************************************************/


.main-nav ul{
    text-align: center;
    padding-left: 0;
}

.main-nav ul li{
    list-style: none;
    margin-bottom: 30px;
}

.main-nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

/***************************************************Content*************************************************************/

.profile-pic{
    text-align: center;
}

.profile-pic img{
    width: 75%;
    max-width: 367px;
}

.description{
    text-align: center;
    padding: 10px;
}
.description h2{
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

/**************************************************Media Queries********************************************************/

/*Tablet*/

@media (min-width: 768px){
    .name h1{
        margin-top: 40px;
    }
    .main-nav ul li{
        margin-bottom: 0;
        display: inline-block;
        margin-right: 30px;
    }
    .main-nav ul li a{
        padding: 10px;
    }
    .container{
        width: 92%;
        margin: 60px auto 0 auto;
    }
    .profile-pic{
        text-align: right;
        float: right;
        width: 41.666666667%;
    }
    .profile-pic img{
        width: 100%;
    }
    .description{
        float: left;
        width: 58.33333333%;
        text-align: left;
    }
}/*end of tablets*/

/*Desktop*/

@media (min-width: 1024px){
    .container{
        width: 1024px;
        margin: 0 auto;
    }
    .name{
        text-align: left;
        float: left;
        width: 33.333333333%;
    }
   .main-nav{
        float: right;
    }
    .main-nav ul{
        margin-top: 40px;
        padding-left: 40px;
    }
    .main-nav ul li{
        margin-right: 0;
    }
}/*end of Desktop*/